* {
    box-sizing: border-box;
}

#calculator {
    width: 50vw;
    height: 50vh;
    display: relative;
    margin: 10% auto;
    background-color: aqua;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #505050;
    font-size: 3.5rem;
    font-weight: normal;
    cursor: pointer;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}